    /*startPage CSS*/

    
    .title{
        background: rgba(249,229,156,0.8);
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 0px;
        padding-bottom: 10px;
         
        
    }
    .createbox{
        background: rgba(255,255,255,0.8);
        position: relative;
        top: 200px;
        height: 250px;
        width: 500px;
    }
    .boxtitle{
        font-size: 24px;
        padding: 20px 20px 0px 20px;
    }
    .boxcontent{
        font-size: 14px;
        position: relative;
        top: -20px;
        padding: 0px 20px 0px 20px;
    }
    .startbutton{
        font-size: 14px;
        position: relative;
        top: 40px;
        padding: 0px 20px 0px 20px;
    }
    .btnStart{
        position:relative; 
        top:30px;
        margin: 20px;
    }    


    /*menuPage CSS*/
    .box{ 
        height: 100%;
    	margin-top: 0px;
    	margin-bottom: 0px;
    	padding-left: 5px;
    	padding-right: 0px;
    	padding-top: 0px;
        padding-bottom: 0px;
        border: 0.5px solid gray; 
    }/*dishDetail repeat, overviewPage repeat, printPage*/

    #filter{
    	background: rgb(249,229,156);
    }

    .search{
        padding:0px;
    }
    
    .dishcontainer{
    	margin-top: 10px;
    	margin-bottom: 10px;
        margin-left: 0px;
    	padding: 0px 0px 0px 0px;
      /*  border: 0.5px solid gray;  */
    }/*, overviewPage repeat*/
    .dishbox{
    	margin: 5px 5px 10px 10px;
    	padding: 0px 0px 10px 0px;
        width: 20%;
        height: 40%;
    }/*dishDetail repeat, overviewPage repeat*/

    .dish{
        height: 200px;
    	margin-top: 35px;
        margin-bottom: 3px;
        padding: 5px;
        /*border: 1px solid black;*/
    }/*, overviewPage repeat, printPage*/
    .dish img{
    	width: 100%;
    	height: 100px;
    }/*, printPage*/
    .dishname{
        margin-top: auto;
        /*height: 40px;*/
  		text-align: center;  
  		/*background-color: #D8D8D8;*/
        padding-top: 3px;
        font-size: 15px

    }/*, overviewPage repeat*/

    .dishname span{
        color: rgba(0,0,0);
    }
    /*, overviewPage repeat*/

    .description{
    	height: 10px;
    	padding: 0px;
    	text-align: center;
    	font-size: 12px;
    }

    .caption{
        padding: initial;
    }



    /*dishDetailPage*/
    #SelectDishView {
    margin-bottom: 50px;
    }




    .dishcontainer2{
        border: 0.5px solid gray; 
    }



    .dish2{
        width: 45%;
        margin: 40px;
        padding: 5px 5px 50px 5px;
        position: relative;
    }

    .dishimg{
        margin: 30px 5px 10px 5px;
        width: 250px;
        height: 250px;
    }

    .printImg{
        margin: 15px 5px 10px 5px;
        width: 20%;
        height: 100%;
        padding: 20px;
    }

    .dishimg img{
        width: 100%;
        height: 100%;
    }
    .dishtitle{
        width: 100%;
        height: 20px;
        padding-left: 5px;
        font-size: 30px;
        font-style: bold;            
    }

    .dishdescription{
        width: 100%;
        padding: 5px;
        text-align: justify;
    }

    .ingredients{
        height: 500px;
        overflow: auto;
        position: relative;
        margin-left: 5px;
        margin-bottom: 10px;
        margin-top: 40px;
        margin-right: 5px;
        padding: 20px;
        background-color: rgb(249,229,156);
        border: 0.5px solid gray; 
    }

    .ingtable{
        width: 100%;
        border-bottom: 1px solid gray;
    }

    .ingtable tr td{
        width: 20%;
        padding:5px 5px;
    }
    .pre{
        margin-left: 40px;
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 10px;
    }
    .preparation{
        font-size: 30px; 
        font-style: bold; 
        padding-bottom: 10px;

    }

    .dishIntroduction{

    }
    .backToMenu{
        width:200px;
        margin: 5px;
        position: absolute;
        bottom: 5px;
    }



    /*overviewPage*/
    #listSelectDishes {
    margin-left: auto;
    align-items: center;
    margin-right: auto;
    justify-content: center;
    display: flex;
    }
    #filter2{
        padding-top: 5px;
        background: rgb(249,229,156)
    }/*, printPage*/

    .total{
        height:140px; 
        position: relative;
        /*margin-top: 170px;*/
        margin: auto;
    }
    .total p{
        position: absolute;
        bottom: 0px;
        padding:0px;
        margin: auto;
        font-size: 20px;
    }

    .price{
        height: 20px;
        padding: 5px;
        margin-bottom: 10px;
        text-align: right;
        font-weight: bold;
        margin-right: 5px;
    }
    #confirmDinner{
        
       margin-left: 25px;
    }


    /*printPage*/
    .dishimg2{
        padding: 20px; 
    }

    .dishname2{
        font-weight: 600;
        font-size: 22px;
            
    }
    .dishtext{
        padding-top: 10px;

    }
    .dishinfo{
        padding: 20px; 
    }
    .dishpre{
        padding: 20px;      
    }
    .dishpretitle{
        font-weight: bold;
        font-size: 25px;
    }
    .MenuTotalPrice{
        padding-top: 0;
        padding-bottom: 10px;
        text-align: right;
    }
    #ListDishesView{
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
        margin-bottom: 40px;
    }
    .pending{
        background-color: #F97A7A;
    }