

<!-- TODO in Lab 5: Display the items on the menu with cost for each -->


<!-- Displaying number of guests both in input box and here is redundant. It is here only for the example
purpose so you can see how some information from the model can be retrieved. In Lab 5 you will replace 
this with Total price of the menu -->


<div class="col-xs-3">
				<h3>My Dinner</h3>
			    <div class = "panel panel-default">
			   	    <div class="panel-body">
		                <div>People: <input type="number" min="1" ng-model="numberOfGuests" ng-change="setNumberOfGuest(numberOfGuests)" style="width:10"/> </div> 
			   	    </div>
			    </div>
				
                <div id ="DinnerMenuView" > 
                    <div class="panel panel-default">
                    	<div class="panel-body">
                    		<table id="dinnerMenu" class="table">
		                    	<thead>
		                   			<tr>
		                   				<th>Dish Name</th>
		                   				<th>Cost</th>
		                   				<th></th>
		                   			</tr>
		                   		</thead>
		                   		<tbody id = "tableBody">
		                   			<tr ng-repeat="dish in menu" >
		                   				<td>{{dish.Title}}</th>
		                   				<td>{{dish.DishPrice}}</th>
		                   				<td><span class = "glyphicon glyphicon-remove removeDish" ng-click="removeDishFromMenu(dish.RecipeID)"></span></td>
		                   			</tr>
		                   			<tr class="pending"> 
		                   				<th>{{getPendingName()}}</th>
		                   				<th>{{getPendingPrice()}}</th>
		                   				<th></th>
		                   			</tr>
		                		</tbody>
                   			</table>
                   			<div class="MenuTotalPrice price">Total Price: {{getTotalMenuPrice()}} <span id="totalPrice"></span> SEK </div>
                    	</div>
                    </div>	
                  </div>

				<button type="button" class="btn btn-warning" style="width:70%;"><a href="#/overview">Confirm Dinner</button>			 
			</div>

