<!-- TODO in Lab 5: there is not much to do on the home screen. Just arrange the layout so it
looks a bit nicer. -->
<!-- <a href="#/search" class="btn btn-primary">Create new dinner</a> -->

<!--startPage-->
	<div class="container" id="startPage">   
 	<style type="text/css">
	   body{
	        background-image:url(images/Thanksgiving-Dinner.jpg);
	        background-size: 100%, 100%;
	        margin-left: 15px;
	    }
	    
	 </style>

        <div class="row title">
            <h1>HOMELETTE</h1>
            <p>From the best chefs in the world directly into your kitchen</p>
        </div>
		<div class="createbox">
			<div class="boxtitle">A Home Dinner Service</div>
			<hr style="width: 95%; height: 2px; background-color: #000000; position: relative; top: -10px;" />
			<div class="boxcontent">
				lorem ipsum dolor sit amet, 
			</div>
			<div class="startbutton">start quickly</div>
			<button type="button" class="btn btnStart btn-warning"><a href="#/search">Create new dinner</a></button>
			
		</div>

	</div>